<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Footer</title>
        <style>

        </style>
        <link rel="stylesheet" href="/src/main/resources/static/css/header-footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&family=Sen:wght@400..800&display=swap"
            rel="stylesheet">
    </head>

    <body>


        <div class="">
            <div class="cx-footer">

                <div class="buttons-discretos sobre">
                    <a href="/src/main/resources/templates/index.html" class="btn-discretos sobre">Início</a>

                <a href="/src/main/resources/templates/cadastro.html" class="btn-discretos sobre ">
                Compartilhar</a>

                <a href="/src/main/resources/templates/pesquisa.html" class="btn-discretos sobre ">Buscar</a>
                </div>

                <div>
                    <img src="/img/immusic.png" class="img-micro">
                </div>
                <div class="sobre">
                    <h3>I'm Music</h3>
                    <div class="img-text ">
                        <img src="/img/logo_whatsapp.png" widht="20px" height="20px"><a
                            href="https://wa.me/5528999452754" class="btn-discretos">28 99945-2754</a>
                    </div>
                </div>
            </div>

            <div class="copy-foot"><small>&copy; 2025 I'm Music . All rights reserved . Developer Sol Morcillo</small>
            </div>
        </div>
    </body>

</html>